
body{
    background-image: url("http://school298.spb.ru/images/400/DSC100480182.jpg")
}


#start{
    height: 100px;
    width: 400px;
    border-radius: 30px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    font-size: 60px;
    animation: pulse  5s infinite;
}

@keyframes pulse {
    0% {
      background-color: rgb(13, 80, 119);
    }
    100% {
      background-color: rgb(187, 74, 22);
    }
  }

.firstpage{
    text-align: center;
}

.Instructions{
    font-size: 30px;
}

#GI{
    font-size: 40px
}

#main{
    font-size: 70px;
    border: 30px;
    color: brown;
}

h1{
  text-align: center;
  font-size: 70px;
  border: 2px solid black;
  width: auto;
  color: brown;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


.secondpage{
    text-align: center;
    
}

input{
    height: 55px;
    width: 290px;
    padding: 2px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
    font-size: 48px;
    

}

#generaten{
    height: 100px;
    width: 400px;
    border-radius: 30px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    font-size: 45px;
    animation: pulse  5s infinite;
}

@keyframes pulse {
    0% {
      background-color: rgb(13, 80, 119);
    }
    100% {
      background-color: rgb(187, 74, 22);
    }
  }




#reload{
    height: 40px;
    width: 70px;    
    border-radius: 20px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(7, 65, 92);
}













